# Introduction to databases

Introduction to Databases

1. Understand what databases are, and why they are important in computing
    - Learn about the different types of databases
    - Understand the concepts of tables, rows, columns, and relationships in a database
    - Relational Databases

1.  Understand what relational databases are
    - Learn about SQL (Structured Query Language), which is used to interact with relational databases
    - Learn about the common relational database management systems (RDBMS) such as MySQL, PostgreSQL, Oracle, and SQL Server
    - Creating and Modifying Databases

1. Learn how to create a database using SQL
    - Understand how to define tables, columns, and relationships in a database
    - Learn how to modify a database structure using SQL commands
    - Retrieving Data from Databases

1. __Learn how to query data from a database using SQL__: To manipulate the database here is DML(Data Manipulation Language) from SQL. It includes most common SQL statements like  SELECT, INSERT, UPDATE DELETE etc. and it is used to retrieve, store, modify and delete data from the database.
    - Understand how to use SELECT statements to retrieve data
        - SELECT statement is use to retreiving data from table. We can add column names after the SELECT statement that we want to show. After FROM clause we add table names from whice table we want to retreive data. Furthermore, if we add a * after the SELECT statement then the query retreive all columns from the table.
        - Syntax: 
                1. SELECT column1, column2, ...
                    FROM table_name;
                
                2. SELECT * FROM table_name;
        - Example: 
                1. SELECT ch_id, ch_breed_line
                    FROM chicken;
                
                2. SELECT * FROM chicken;
    - Learn how to use WHERE clauses to filter data
    - Updating and Deleting Data in Databases

5. Understand how to update data in a database using SQL
    - Learn how to use the UPDATE statement
        - By UPDATE statement we update the data the belongs to the database
        - Syntax: 
                    UPDATE table_name
                    SET column1 = value1, column2 = value2, ...
                    WHERE condition;
        - Example:
                    UPDATE chicken
                    SET ch_breed_line = 'Dev'
                    WHERE ch_id = 1402;           
            
            
   - Understand how to delete data from a database using SQL
       - By using DELETE statement we can delete existing records, table, column from the database. Here we will learn how to delete existing records from a table.
       - Syntax: 
                   DELETE FROM table_name WHERE condition;
       - Example: 
                   DELETE FROM chicken WHERE ch_id = 1402;
   - Database Normalization?

6. Understand the concept of database normalization?
    - Learn about the different normalization levels
    - Understand the benefits of normalization
    - Database Administration

7. Understand the role of a database administrator ?(DBA)
    - Learn about backup and recovery procedures
    - Understand the importance of database security

In [3]:
import math
x = 1 + 1
print (x)

2