# Introduction to databases

Introduction to Databases

1. Understand what databases are, and why they are important in computing
    - Learn about the different types of databases
    - Understand the concepts of tables, rows, columns, and relationships in a database
    - Relational Databases

1.  Understand what relational databases are
    - Learn about SQL (Structured Query Language), which is used to interact with relational databases
    - Learn about the common relational database management systems (RDBMS) such as MySQL, PostgreSQL, Oracle, and SQL Server
    - Creating and Modifying Databases

1. __Learn how to create a database using SQL__: To create or manipulate the database here is DDL(Data Definition Language) from SQL. It includes most common SQL statements are  CREATE, ALTER, DROP, TRUNCATE. and it is used to create table, modify table structure , drop table structure, and delete data from the table.
    - Understand how to define tables, columns, and relationships in a database
        - A database is collection of schema
        - Schema is a collection of tables
        - Tables is collection of columns and rows.Where data is stored in an organised way. Columns can be identify as vertical and rows as horizontal. 
        - __Relationship in Database__: Database is usually constructs of tabels and the relationship among them. The relationship of tabels can be explain by the entity. __Entity__ could be an real-world object, either tangible or intangible, that can be easily indentifiable. In the Chicken database entities can be Chicken, Group, Breed etc. Each entities has some associated proprties by which we can idetify it.
    - Learn how to modify a database structure using SQL commands
        - A database structure can be modify by 
            - Changing the relationship among tables such as dropping table, dropping the reference key(foreign key) 
                - We can drop table by using __DROP_ statement
                    - Syntax: 
                        DROP TABLE table_name;
                - Reference key can be drop by using __DROP__ statement
                    - Syntax: 
                            ALTER TABLE table_name
                            DROP FOREIGN KEY foreign_key_name;
                - Reference key can be add by using __ALTER__ statement
                    - Syntax: 
                            ALTER TABLE primary_table_name
                            ADD FOREIGN KEY (Column_name) REFERENCES secondary_table name(Column_name);                         
                          
            - Modifying the table structure such as changing the data type of column, table name, column name, drop column etc.
                 - We can modify the data type of column of a table by using __ALTER__ statement
                    - Syntax: 
                        ALTER TABLE table_name
                        ALTER COLUMN column_name data_type;
                - We can change the table name by using __ALTER__ statement
                    - Syntax: 
                            ALTER old_name RENAME TO new_name;
                 - We can change the column name by using __ALTER__ statement
                    - Syntax: 
                            ALTER TABLE table_name
                            RENAME COLUMN old_name to new_name;
                 - Droping column
                     - Syntax:
                             ALTER TABLE table_name
                             DROP COLUMN column_name;
    - Retrieving Data from Databases

1. __Learn how to query data from a database using SQL__: To manipulate the data in the database here is DML(Data Manipulation Language) from SQL. It includes most common SQL statements like  SELECT, INSERT, UPDATE DELETE etc. and it is used to retrieve, store, modify and delete data from the database.
    - Understand how to use SELECT statements to retrieve data
        - SELECT statement is use to retreiving data from table. We can add column names after the SELECT statement that we want to show. After FROM clause we add table names from whice table we want to retreive data. Furthermore, if we add a * after the SELECT statement then the query retreive all columns from the table.
        - Syntax: 
                1. SELECT column1, column2, ...
                    FROM table_name;
                
                2. SELECT * FROM table_name;
        - Example: 
                1. SELECT ch_id, ch_breed_line
                    FROM chicken;
                
                2. SELECT * FROM chicken;
    - Learn how to use WHERE clauses to filter data
        - WHERE clause is usually use to put condition for the desired output. The following operator 
            can be used for WHERE clause: 
            |Operator| Description|
            |:---------|:--------------------------------------------|
            |=|Equal|
            |>|Greater than|
            |<|Less than|
            |>=|Greater than or equal|
            |<=|Less than or equal|
            |<>|Not equal|
            |BETWEEN|Between a certain range|
            |LIKE|Search for a pattern|
            |IN|To specify multiple possible values for  a column|
        - The WHERE clause is not only used in SELECT statements, it is also used in UPDATE, DELETE
        - Example:
                    SELECT ch_id, ch_breed_line
                    FROM chicken
                    WHERE ch_id = 1402 ;
        
    - Updating and Deleting Data in Databases

5. Understand how to update data in a database using SQL
    - Learn how to use the UPDATE statement
        - By UPDATE statement we update the data the belongs to the database
        - Syntax: 
                    UPDATE table_name
                    SET column1 = value1, column2 = value2, ...
                    WHERE condition;
        - Example:
                    UPDATE chicken
                    SET ch_breed_line = 'Dev'
                    WHERE ch_id = 1402;           
            
            
   - Understand how to delete data from a database using SQL
       - By using DELETE statement we can delete existing records, table, column from the database. Here we will learn how to delete existing records from a table.
       - Syntax: 
                   DELETE FROM table_name WHERE condition;
       - Example: 
                   DELETE FROM chicken WHERE ch_id = 1402;
   - Database Normalization?
6. Understand the concept of __Joining__?
    - Join operation provide combination of rows from two or more tables based on related columns and form a new table.
    - Learn about different type of joining
        - Depend on the purpose of operation there deferent types of join.
            - INNER JOIN:
                - The __INNER JOIN__ clause retrives rows from two tables if they have matching values.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM table_A
                            INNER JOIN table_B
                            ON table_A.column_name = table_B.column_name;
                     - Example from Chicken Database: 
                            SELECT c.ch_id,c.gr_id, t.life_week
                            FROM chicken c 
                            INNER JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - LEFT JOIN: 
                - The __LEFT JOIN__ clause select rows from left table(A) and these rows are matches with right table(B).
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            LEFT JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT c.ch_id,c.gr_id
                            FROM chicken c 
                            LEFT JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - RIGHT JOIN: 
                - The __RIGHT JOIN__ clause select rows from right table(B) and these rows are matches with left table(A).
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            RIGHT JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT t.ch_id,t.gr_id, t.life_week
                            FROM chicken c 
                            RIGHT JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - FULL JOIN or FULL OUTER JOIN: 
                - The __FULL JOIN__ clause returns all rows from right table(B) or left table(A) when there is a match.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            FUUL JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT t.ch_id,t.gr_id, t.life_week
                            FROM chicken c 
                            FULL JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
                            
            - SELF JOIN: 
                - The self join is a regular join. Here a table is make join with itself.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A a, A b
                            WHERE a.column_name = b.column_name;
                     - Example from Chicken Database: 
                            SELECT a.ch_id,a.gr_id, b.life_week
                            FROM tonic_immobility a, tonic_immobility b
                            WHERE a.ch_id = b.ch_id
                            AND a.gr_id = b.gr_id;
                         
    - Understand by applying joining concept on __Chiken Database__

7. Understand the concept of database normalization?
    - Learn about the different normalization levels
    - Understand the benefits of normalization
    - Database Administration

8. Understand the role of a database administrator ?(DBA)
    - Learn about backup and recovery procedures
    - Understand the importance of database security

In [3]:
import math
x = 1 + 1
print (x)

2