# Introduction to databases

Introduction to Databases

1. Understand what databases are, and why they are important in computing
    - Learn about the different types of databases
    - Understand the concepts of tables, rows, columns, and relationships in a database
    - Relational Databases

1.  Understand what relational databases are
    - Learn about SQL (Structured Query Language), which is used to interact with relational databases
    - Learn about the common relational database management systems (RDBMS) such as MySQL, PostgreSQL, Oracle, and SQL Server
    - Creating and Modifying Databases

1. Learn how to create a database using SQL:
    - Learn how to create a database using SQL
    - Understand how to define tables, columns, and relationships in a database
    - Learn how to modify a database structure using SQL commands
    
1. Retrieving Data from Databases

    - Learn how to query data from a database using SQL
    - Understand how to use SELECT statements to retrieve data
    - Learn how to use WHERE clauses to filter data
    
1. Updating and Deleting Data in Databases

    - Understand how to update data in a database using SQL
    - Learn how to use the UPDATE statement
    - Understand how to delete data from a database using SQL

7. Understand the concept of database normalization?
    - Learn about the different normalization levels
    - Understand the benefits of normalization
    - Database Administration

8. Understand the role of a database administrator ?(DBA)
    - Learn about backup and recovery procedures
    - Understand the importance of database security

## Relational Databases

a database is a collection of structured data that is stored and can be accessed electronically. A database management system (DBMS) is the software that controls the database. There are a lot of types of databases based on the type of their content, which will give specific functionalities. However, for this workshop, we will focus only on relational databases. A relational database is a set of organized **tables** with contain **rows**, **columns** and can store **relationships**. These relationships define how different tables relate to each other.

A **row** refers to an observation, or one record. **Columns** contain attribute information, so the different characteristics of the records. A **table** or relation is then a set of records that share the same attributes, or in other words, a set of rows and columns.

![title](Database_Normalization/resources/relation_squema.png)

- Load the ipython-sql extension:

In [1]:
%load_ext sql

- Import the function we need to use SQL commands on our database:

In [ ]:
from sqlalchemy import create_engine

- Open a connection between ipyithon-sql and the database music_db:
    - Replace 'password' with the master password you gave PGAdmin at first launch.

In [ ]:
%sql postgresql://postgres:password@localhost/music_db

- Connect sqlalchemy to the database as well:
    - It requires that ipython-sql already has a connection.
    - Replace password with your own as above.

In [ ]:
engine = create_engine('postgresql://postgres:password@localhost/music_db')

Here is a look at an SQL querry that is showing us the table interpreter in the music_db database.

- SELECT: Chooses which columns we want to see in our result table.
    - [ * ] is a wildcard that in this instance means we choose all columns in the table.
- FROM: Chooses the source table for the previous command.

In [ ]:
%%sql
SELECT *
FROM interpreter

## Structured Query Language (SQL)

<b>SQL</b> is a programming language for interactions with databases. It enables the storing, manipulation and retrieving of data from databases.

To effectively use SQL there are Relational Database Management Systems, <b>RDBMS</b> for short. They form the framework around the language in order to make use of it, both as stand-alone systems and to integrate database functionality into other programs or websites. Common RDBMS are <b>MS Access</b>, <b>MySQL</b> and <b>PostGreSQL</b>, which we will use here.

1. __Learn how to create a database using SQL__: To create or manipulate a database there is the <b>DDL</b>(Data Definition Language) from SQL. It includes some of the most common SQL commands: <b>CREATE</b>, <b>ALTER</b>, <b>DROP</b> and <b>TRUNCATE</b>. They are used to create a table, modify a database structure, drop a database structure and delete data from a table respectively.
    
    - Understand how to define tables, columns, and relationships in a database
        - A database is a collection of schemata
        - A schema is a collection of tables
        - A table is a collection of columns and rows. In which data is stored in an organised way. Columns are characterised as vertical and rows as horizontal. 
        - __Relationship in a Database__: A database is usually made up of tables and the relationships between them. The relationship between tables can be explained by the associated entities. __Entity__ could be a real-world object, either tangible or intangible, that can be easily indentifiable. In the Chicken database entities can be Chicken, Group, Breed etc. Each entity has some associated properties by which we can identify it.
    
    - Learn how to modify a database structure using SQL commands
        - A database structure can be modify by: 
            - Changing the relationship between tables such as dropping a table or dropping the reference key(foreign key) to the other table.
                - We can drop table by using a __DROP__ statement
                    - Syntax:
                        ```
                        DROP TABLE table_name;
                        ```
                - A reference key can be dropped by using a __DROP__ statement as well
                    - Syntax:
                        ```
                        ALTER TABLE table_name
                        DROP FOREIGN KEY foreign_key_name;
                        ```
                - A reference key can be added by using an __ALTER__ statement
                    - Syntax:
                        ```
                        ALTER TABLE primary_table_name
                        ADD FOREIGN KEY (Column_name) REFERENCES secondary_table name(Column_name);
                        ```                         
            - Modifying the table's structure such as changing the data type of a column, the table name, a column name, drop column, etc.
                 - We can modify the data type of a table's column by using an __ALTER__ statement
                    - Syntax:
                        ```
                        ALTER TABLE table_name
                        ALTER COLUMN column_name data_type;
                        ```
                - We can change the table name by using an __ALTER__ statement
                    - Syntax:
                        ```
                        ALTER old_name RENAME TO new_name;
                        ```
                 - We can change the column name by using an __ALTER__ statement
                    - Syntax:
                        ```
                        ALTER TABLE table_name
                        RENAME COLUMN old_name to new_name;
                        ```
                 - Dropping a column uses an __ALTER__ statement as well
                     - Syntax:
                         ```
                         ALTER TABLE table_name
                         DROP COLUMN column_name;
                         ```
    - Retrieving Data from Databases

1. __Learn how to query data from a database using SQL__: To manipulate the data in the database there is <b>DML</b>(Data Manipulation Language) from SQL. It includes some other common SQL commands like  <b>SELECT</b>, <b>INSERT</b>, <b>UPDATE</b>, <b>DELETE</b>, etc. They are used to retrieve, store, modify and delete data from the database respectively.
    - Understand how to use SELECT statements to retrieve data
        - __SELECT__ statements are used to retreive data from a table. We add the column names, that we want to show, after the SELECT statement. After the __FROM__ command we add table names from which we want to retreive data. Furthermore, if we add an '<b>*</b>' after the SELECT statement then the query retreive all columns from the table, this is called a wildcard.
        - Syntax:
            1.  
                ```
                SELECT column1, column2, ...
                FROM table_name;
                ```
            2.  
                ```
                SELECT * FROM table_name;
                ```
        - Example: 
            1.  
                ```
                SELECT ch_id, ch_breed_line
                FROM chicken;
                ```
            2.  
                ```
                SELECT * FROM chicken;
                ```
    - Learn how to use WHERE clauses to filter data
        - __WHERE__ clauses are usually used to set conditions for the desired output. The following operators can be used in a WHERE clause: 
            |Operator| Description|
            |:---------|:--------------------------------------------|
            |=|Equal|
            |>|Greater than|
            |<|Less than|
            |>=|Greater than or equal|
            |<=|Less than or equal|
            |<>|Not equal|
            |BETWEEN|Between a certain range|
            |LIKE|Search for a pattern|
            |IN|To specify multiple possible values for  a column|
        - The WHERE clause is not only used in SELECT statements, it is also used when UPDATE and DELETE are invoked
        - Example:
            ```
            SELECT ch_id, ch_breed_line
            FROM chicken
            WHERE ch_id = 1402;
            ```
5. Understand how to update data in a database using SQL
    - Learn how to use the UPDATE statement
        - By UPDATE statement we update the data the belongs to the database
        - Syntax: 
                    UPDATE table_name
                    SET column1 = value1, column2 = value2, ...
                    WHERE condition;
        - Example:
                    UPDATE chicken
                    SET ch_breed_line = 'Dev'
                    WHERE ch_id = 1402;           
            
            
   - Understand how to delete data from a database using SQL
       - By using DELETE statement we can delete existing records, table, column from the database. Here we will learn how to delete existing records from a table.
       - Syntax: 
                   DELETE FROM table_name WHERE condition;
       - Example: 
                   DELETE FROM chicken WHERE ch_id = 1402;
   - Database Normalization?
6. Understand the concept of __Joining__?
    - Join operation provide combination of rows from two or more tables based on related columns and form a new table.
    - Learn about different type of joining
        - Depend on the purpose of operation there deferent types of join.
            - INNER JOIN:
                - The __INNER JOIN__ clause retrives rows from two tables if they have matching values.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM table_A
                            INNER JOIN table_B
                            ON table_A.column_name = table_B.column_name;
                     - Example from Chicken Database: 
                            SELECT c.ch_id,c.gr_id, t.life_week
                            FROM chicken c 
                            INNER JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - LEFT JOIN: 
                - The __LEFT JOIN__ clause select rows from left table(A) and these rows are matches with right table(B).
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            LEFT JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT c.ch_id,c.gr_id
                            FROM chicken c 
                            LEFT JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - RIGHT JOIN: 
                - The __RIGHT JOIN__ clause select rows from right table(B) and these rows are matches with left table(A).
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            RIGHT JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT t.ch_id,t.gr_id, t.life_week
                            FROM chicken c 
                            RIGHT JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
            - FULL JOIN or FULL OUTER JOIN: 
                - The __FULL JOIN__ clause returns all rows from right table(B) or left table(A) when there is a match.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A
                            FUUL JOIN B
                            ON A.column_name = B.column_name;
                     - Example from Chicken Database: 
                            SELECT t.ch_id,t.gr_id, t.life_week
                            FROM chicken c 
                            FULL JOIN tonic_immobility t
                            ON t.ch_id = c.ch_id;
                            
            - SELF JOIN: 
                - The self join is a regular join. Here a table is make join with itself.
                    - Syntax: 
                            SELECT column_name(s) ....
                            FROM A a, A b
                            WHERE a.column_name = b.column_name;
                     - Example from Chicken Database: 
                            SELECT a.ch_id,a.gr_id, b.life_week
                            FROM tonic_immobility a, tonic_immobility b
                            WHERE a.ch_id = b.ch_id
                            AND a.gr_id = b.gr_id;
                         
    - Understand by applying joining concept on Wikipedia Database Example
        - INNER JOIN:
                SELECT CD.CD_ID,Lieder.Track
                FROM CD 
                INNER JOIN Lieder
                ON CD.CD_ID = Lieder.CD_ID;
        - LEFT JOIN:
                SELECT CD.CD_ID,CD.Interpret
                FROM CD 
                LEFT JOIN Lieder
                ON CD.CD_ID = Lieder.CD_ID;
        - RIGHT JOIN:
                SELECT Lieder.CD_ID,Lieder.Track
                FROM CD 
                LEFT JOIN Lieder
                ON CD.CD_ID = Lieder.CD_ID;
        - FULL JOIN:
                SELECT Lieder.CD_ID,Lieder.Track, CD.Interpret
                FROM CD 
                FULL JOIN Lieder
                ON CD.CD_ID = Lieder.CD_ID;
        - Self JOIN:
                SELECT Lieder.CD_ID,Lieder.Track, CD.Interpret
                FROM CD a, CD b
                WHERE a.CD_ID = b.CD_ID
                AND a.Interpret = b.Interpret;